html {
  background: url("/assets/img/bg.png") #eee repeat; 
}

::-webkit-selection { color: #fff; background: #e97d7a; } 
::-moz-selection { color: #fff; background: #e97d7a; } 
::-o-selection { color: #fff; background: #e97d7a; } 
::selection { color: #fff; background: #e97d7a; } 
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {zoom:1; /* for IE6 IE7 */}
.fl-r {float:right}
.fl-l {float:left}
a:hover {color: #e97d7a;}
a {text-decoration:underline;color: #000;}
*:link, *:visited, *:hover, *:active, *:focus { -webkit-transition: color .25s linear, background-color .25s linear, border-color .25s linear; -moz-transition: color .25s linear, background-color .25s linear, border-color .25s linear; -o-transition: color .25s linear, background-color .25s linear, border-color .25s linear; transition: color .25s linear, background-color .25s linear, border-color .25s linear; } 


@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 700;
  src: url("/assets/font/tangerine.eot");
  src: url("/assets/font/tangerine.eot?#iefix") format("embedded-opentype"),
       url("/assets/font/tangerine.woff") format("woff"),
       url("/assets/font/tangerine.ttf") format("truetype");
  
}

.tangerine {font-family: Tangerine, recursive;font-weight:bold;}



.site {width: 960px;margin: 0 auto;}
.site .header {line-height:40px;padding-top:25px;border-bottom:1px solid #ccc;-moz-box-shadow: 0 1px 0 #FFF;-webkit-box-shadow: 0 1px 0 #FFF;box-shadow: 0 1px 0 #FFF;}
.site .header .title {display: inline-block;text-indent:-10000px;background:url('/assets/img/logo.png') no-repeat;width:185px;height:40px;position:relative;bottom:8px;}
.site .header .sub-title {color:#B6B6B6;margin-left:58px;font-size:12px;font-style:italic;}
.site .header .nav {display:inline-block;margin:0;list-style:none;}
.site .header .nav li {padding:0 15px;text-decoration:none;color:#888;}
.site .header .nav li.current {text-decoration:underline;color:#000;font-weight:bold;}
.site .header .nav li a {text-decoration:none;}

.site .content {min-height:400px;}

.site .footer {color: #999;border-top:1px solid #ccc;margin-top:85px;padding:5px 0 20px 0;font-size:12px;}
.site .footer a {color: #999;}
.site .footer a:hover {color: #e97d7a;}

#home p.tangerine{font-size:28px;text-align: center;line-height:33px;margin: 25px 0;}
#home p.large{font-size:35px;}
#home .categories {margin:0;padding:0;width:100%;text-align:center;}
#home .categories li {list-style:none;width:320px;}
#home .categories li .desc {display:block;font-size:28px;}
#home .categories li .graph {width:280px;height:146px;margin:0 auto;display:block;vertical-align:middle;line-height:146px;font-size:0;border: 1px dashed #D3D5CC;border-radius:22px;}
#home .categories li a.graph:hover {text-decoration:none;font-size:30px;color:#000;filter:grayscale(100%)}
#home .categories li.literature .graph {background-image:url("/assets/img/literature.png")}
#home .categories li.tech .graph {background-image:url("/assets/img/tech.png");background-position:-14px -19px;}
#home .categories li.photography .graph {background-image:url("/assets/img/photography.png")}
#home .categories li .graph:hover {background:none;}
#home ul.profiles {list-style:none;text-align:center;}
#home ul.profiles li {display:inline-block;width:48px;height:48px;margin:0 25px;}
#home ul.profiles li a {width:100%;height:100%;display:inline-block;text-decoration:none;}
#home ul.profiles li a i {color:#888;}
#home ul.profiles li a:hover i {color:#000;}
#home ul.profiles li a .name {display:none;}

#category-page {padding: 50px 0;}
#category-page i.logo {font-size:220px;line-height: 50px;color:#B6B6B6;margin:75px 0 0 55px;;}
#category-page .slogan {color:#888;font-size:20px;font-weight:bold;font-style:italic;background:none;font-family:inherit;margin: -10px 0 30px 0;padding-left:2em;}
#category-page .posts {width:600px;list-style:none;line-height:40px;margin:0;padding:0;}
#category-page .posts .post {font-size:18px;}
#category-page .posts .post .date{color:#B6B6B6;}
#category-page .posts .post .title{}

#post-page {background:#fff;padding: 45px 179px;margin:20px auto;border: 1px solid #fff;-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15)}
#post-page .artical .title {font-weight:bold}
#post-page .artical .meta {color:#888;}
#post-page .artical .content {margin-top:30px;}
#post-page .artical .content code {
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;
    border-radius: 3px 3px 3px 3px;
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
}
#post-page .artical .content pre > code {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin: 0;
    padding: 0;
    white-space: pre;
}

#post-page #disqus_thread {margin-top: 50px;}
