---
layout: default
---

<div id="category-page" class="clearfix">
  <i class="{{page.icon}} fl-l logo"></i>
  <div class="fl-r">
    <blockquote class="slogan"><i class="icon-quote-left"></i>&nbsp;&nbsp;{{ page.slogan }}&nbsp;&nbsp;<i class="icon-quote-right"></i></blockquote>

    <ul class="posts">
      {% for post in site.categories[page.categoryName] %}
        <li class="post">
          <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span> - <a href="{{post.url}}" class="title">{{post.title}}</a>
        </li>
      {% endfor %}
    </ul>
  </div>


</div>


